# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
.env

# CMC Core & DB
commons/config.toml
gunicorn.ctl

# VS Code
.vscode/
!.vscode/extensions.json

# Logs & OS
*.log
.DS_Store